@menu-link-color: #604a20;

// Inverted navbar
// Reset inverted navbar basics
@navbar-inverse-color:                      @menu-link-color;
@navbar-inverse-bg:                         fade(#fff, 80%);
@navbar-inverse-border:                     darken(@navbar-inverse-bg, 10%);

// Inverted navbar links
@navbar-inverse-link-color:                 @menu-link-color;
@navbar-inverse-link-hover-color:           lighten(@menu-link-color, 15%);
